# CLion specific
.idea/
cmake-build-*/
CMakeLists.txt.user

# C++ specific
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Build folders
build/
out/

# Other
.DS_Store
Thumbs.db

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
